.dropdown {
  position: relative;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
.styledDropdown {
  padding: 15px 0;
}
.dropdownMain {
  min-width: calc(100% + 36px);
  width: 100vw;
  max-width: 868px;
  height: 0;
  overflow: hidden;
  border-radius: 12px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: calc(100% + 30px);
  z-index: 2;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s ease-in-out;
  background: var(--Base-950);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.selectedValue {
  color: var(--Base-0);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 155.556%;
  opacity: 0.7;
}

.icon {
  cursor: pointer;
  color: inherit;
  margin-left: auto;
  color: var(--Base-0);
  opacity: 0.7;
}

.dropdownMain.active {
  overflow: auto;
  height: auto;
  opacity: 1;
  pointer-events: all;
}
.serviceContainer {
  border-radius: 24px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  background: var(--Base-900);
  padding: 20px;

  /* Dropshadow/4xl */
  box-shadow: 0px 40px 64px -16px rgba(3, 7, 18, 0.12);
  display: grid;
  grid-template-columns: 220px 1fr;
  gap: 20px;
  max-height: 700px;
}
.left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 12px;
  border-radius: 12px;
  background: var(--Base-800);
  padding: 20px;
}
.services {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}
.service {
  padding: 12px;
}
.service:hover {
  cursor: pointer;

  border-radius: 8px;
  background: var(--Base-800);
}

@media only screen and (max-width: 991px) {
  .dropdown {
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  }
  .dropdownMain {
    top: calc(100% + 0px);
  }
  .selectedValue {
    padding: 20px 0;
    font-size: 20px;
  }
  .left {
    display: none;
  }
  .serviceContainer {
    grid-template-columns: 1fr;
    max-height: 300px;
    overflow-y: auto;
  }
  .dropdownMain {
    max-width: 100%;
  }
}
@media only screen and (max-width: 640px) {
  .serviceContainer {
    padding: 10px;
  }
  .services {
    grid-template-columns: 1fr;
  }
}
