.wrapper {
  background: url(../../images/pattern.png) var(--Base-950);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  padding: 128px 0;
  position: relative;
  z-index: 1;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  width: 100%;
}
.heading,
.infoContainer {
  max-width: 520px;
  width: 100%;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  gap: 18px;
  position: relative;
}
.card {
  display: flex;
  align-items: flex-start;
  gap: 18px;
  padding: 40px;
  border-radius: 24px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: var(--Base-0, #fff);
  backdrop-filter: blur(24px);
  height: 100%;
}
.card:first-child {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 1fr 1fr;

  align-items: end;
  padding-bottom: 0;
}
.infoContainer {
  gap: 15px;
  display: flex;
  flex-direction: column;
}
.card:first-child .infoContainer {
  padding-bottom: 40px;
}
.imgContainer {
  display: flex;
  justify-content: flex-end;
}
.img {
  width: 100%;
  display: block;
  max-width: 400px;
  margin-bottom: -1px;
}
.exploreMore {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  background: var(--Primary-Default, #7c66ff);
  position: relative;
  z-index: 1;
}
.exploreMoreBg {
  max-width: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
  max-height: 100%;
}
.learnMore {
  display: flex;

  gap: 8px;
  color: var(--Base-0);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 155.556%;
  cursor: pointer;
}
.arrow {
  font-size: 20px;
  color: var(--Base-0);
}

@media only screen and (max-width: 1199px) {
  .card {
    padding: 22px;
  }
}
@media only screen and (max-width: 991px) {
  .wrapper {
    padding: 96px 0;
  }
  .header {
    flex-direction: column;
    gap: 15px;
  }
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .exploreMore {
    min-height: 200px;
    grid-column: 1/-1;
  }
}
@media only screen and (max-width: 767px) {
  .cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media only screen and (max-width: 520px) {
  .wrapper {
    padding: 80px 0;
  }
  .card {
    border-radius: 18px;
  }
  .card:first-child {
    grid-template-columns: 1fr;
  }
  .imgContainer {
    justify-content: center;
  }
  .card:first-child .infoContainer {
    padding-bottom: 0px;
  }
}
